# Contract Type Extraction script

In [1]:
#import packages needed
import pandas as pd
import re

def contract_type(x):  
    
    """
    This function extracts the contract type from the scrapped job salary description.
    
    arg :
        x : the job description scrapped (str)
    
    return:
        results : contract type (str)
    """
    
    #find 'Type:' index location
    try:
        pos = str(x).split().index('Type:')
        
        #get a list of all text after "Type:"
        text = str(x)[pos+1 : ].split()
    except:
        text = []
    
    
    
    full_time_re = r'full-time\w*'
    contract_re = r'contract\w*'

    results = None

    for t in text:
        full_time_finder = re.findall(full_time_re, t.lower())
        contract_finder = re.findall(contract_re, t.lower())
        #hour_finder = re.findall(hour_re, t.lower())
        if len(full_time_finder) > 0:
            results = 'Full-time'
        elif len(contract_finder) > 0:
            results = 'Contract'

    return results

In [2]:
# import data set
data = pd.read_excel('Combined Country DataSet.xlsx')

In [3]:
#extract the contract type for each row
data['contract_type'] = data['JobDesc'].apply(lambda x: contract_type(x))

In [4]:
data[['contract_type']].sample(55)

     contract_type
3547          None
7297          None
143      Full-time
300           None
3139          None
2507          None
6546          None
6038          None
8544          None
2270          None
8133          None
4059          None
5263          None
897           None
175      Full-time
6527          None
2562          None
7328          None
517      Full-time
3211          None
7298          None
2665          None
3574          None
970      Full-time
8643          None
2523          None
7213          None
3587     Full-time
7536          None
3343          None
4489          None
2680          None
3493          None
2873          None
759           None
7050          None
7079          None
1351          None
8189          None
7070          None
123      Full-time
5913          None
3277          None
4015     Full-time
6169          None
1356          None
8541          None
4823     Full-time
6602     Full-time
8063          None
6405          None
8596          None
3201          None
6684     Full-time
2468          None