# Data Scrapping script for data collection from Indeed

Introduction:
This script aims at scrapping data from indeed. Data collected will be used in for training the Tech job salary prediction model.

>>Hint:
    To run this script ensure your already have Selenium and Chrome driver installed. installation guide can be found [here](https://selenium-python.readthedocs.io/installation.html)

In [11]:
#Import the packages 
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup as bs
import pandas as pd


#specify driver path
DRIVER_PATH = 'C:\Program Files\Google\Chrome\Application\chromedriver.exe' # ensure to change this to your chrome driver location 
driver = webdriver.Chrome(executable_path = DRIVER_PATH)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  del sys.path[0]

In [12]:
# function to pass in what and where to search on indeed
def search_job(what, where):
    
    # open page
    driver.get('https://indeed.com')
    
    #Find the what element 
    what_search_box = driver.find_element(By.XPATH, '//*[@id="text-input-what"]')
    
    # pass job title in the what search
    what_search_box.send_keys(what)
    
    #Find the where element 
    where_search_box = driver.find_element(By.XPATH, '//*[@id="text-input-where"]')
    
    # pass location
    where_search_box.send_keys(where)
    
    #Click on the search
    search_button = driver.find_element(By.XPATH, '//*[@id="jobsearch"]/button')
    search_button.click()

In [13]:
def collect_data(what, country, pages):
    
    #call the job search function
    search_job(what, country)
    
    # create a list for all the dataset columns
    salary_list = []
    contract_type_list = []
    company_list = []
    state_list = []
    title_list = []
    country_list = []
    years_of_experience_list = []
    job_position_list = []
    industry_list = []
    age_required_list = []
    skillset_required_list = []
    educational_qualification_required_list = []
    salary_pay_frequency_list = []


    # loop through the number of pages to be scraped
    for page in range(pages):
        
        try:
            
            # get the listed job search returned 
            job_cards = driver.find_elements(By.CLASS_NAME, 'resultContent')

            # loop through each job
            for job in job_cards:
                element = job.get_attribute('outerHTML')
                doc = bs(element, "html.parser")

                #------------------- genearate country
                country_list.append(country)

                #-----------------------get salary
                #check if salary was provided
                salary_checker = doc.find_all("div", {"class" : 'metadata salary-snippet-container'})

                try:
                    '''Check if salary is given and extract, if not extract just contract type'''
                    salary = salary_checker[0].text

                    salary_contract_type = doc.find_all("div", {"class" : 'attribute_snippet'})

                    salary = salary_contract_type[0].text
                    contract_type = salary_contract_type[1].text
                except:
                    salary = 'Null'
                    contract_type = doc.find_all("div", {"class" : 'attribute_snippet'})
                    try:
                        contract_type = contract_type[0].text
                    except:
                        contract_type = 'Null'


                #append salary and contact type
                salary_list.append(salary)
                contract_type_list.append(contract_type)

                #-----------------get company name
                try:
                    company = doc.find_all("span", {"class" : 'companyName'})
                    company_list.append(company[0].text)
                except:
                    company_list.append('Null')

                #------------------get location
                try:
                    location = doc.find_all("div", {"class" : 'companyLocation'})
                    state_list.append(location[0].text)
                except:
                    state_list.append('Null')

                #-------------------get job title
                a_tag = doc.find_all("a")
                title = a_tag[0].text
                title_list.append(title)

                #-------------------get years of experience required
                """TODO : this is to be gotten from the description if availabe"""
                years_experience = "Null"
                years_of_experience_list.append(years_experience)

                #-------------------get years of experience required
                """TODO : this is to be gotten from the description if availabe"""
                salary_pay_frequency = "Null"
                salary_pay_frequency_list.append(salary_pay_frequency)


                #-------------------get years of experience required
                """TODO : this is to be gotten from the description if availabe"""
                educational_qualification_required = "Null"
                educational_qualification_required_list.append(educational_qualification_required)


                #-------------------get years of experience required
                """TODO : this is to be gotten from the description if availabe"""
                skillset_required = "Null"
                skillset_required_list.append(skillset_required)


                #-------------------get years of experience required
                """TODO : this is to be gotten from the description if availabe"""
                age_required = "Null"
                age_required_list.append(age_required)


                #-------------------get years of experience required
                """TODO : this is to be gotten from the description if availabe"""
                industry = "Null"
                industry_list.append(industry)

                #-------------------get years of experience required
                """TODO : this is to be gotten from the description if availabe"""
                job_position = "Null"
                job_position_list.append(job_position)
                
                
            #click on the next button to load next page
            try:
                next_button = driver.find_element(By.XPATH, '//*[@id="jobsearch-JapanPage"]/div/div/div[5]/div[1]/nav/div[7]/a')
                next_button.click()
            except Exception as e:
                continue
                
        except Exception as e:
            print(e)
            break
        
        
    # create a dictionary for the collected list  
    Data_list = {"Title" : title_list,  
            "Salary" : salary_list,
            "Contract Type" : contract_type_list,
             "Company Name" : company_list,
            "Country" : country_list,
            "State" : state_list,
            "Years of Experience" : years_of_experience_list,
            "Position" : job_position_list,
            "Industry" : industry_list,
            "Age Required" : age_required_list,
            "Skillset Required" : skillset_required_list,
            "Educational qualification" : educational_qualification_required_list,
            "Pay Frequency" : salary_pay_frequency_list}
    
    #create the collected data in pandas frame
    dataset = pd.DataFrame(Data_list)
    
    #write collected data to a csv file
    
    return dataset

In [15]:
#test dataset collection function
datasets = collect_data('Data Analyst', 'Nigeria', 20)

In [16]:
datasets.head(10)

,Title,Salary,Contract Type,Company Name,Country,State,Years of Experience,Position,Industry,Age Required,Skillset Required,Educational qualification,Pay Frequency
0,Data Analyst,"₦300,000 - ₦700,000 a month",Full-time,Connected Analytics Limited,Nigeria,Lagos,Null,Null,Null,Null,Null,Null,Null
1,Data Analyst,Null,Full-time,GVA Partners,Nigeria,Lagos,Null,Null,Null,Null,Null,Null,Null
2,PROCESS ANALYST INTERN,"₦80,000 - ₦100,000 a month",Full-time +1,LEITUNG GATE LIMITED,Nigeria,Lagos,Null,Null,Null,Null,Null,Null,Null
3,Data Analyst (NYSC),Null,Internship,Eat N Go Limited,Nigeria,Lagos,Null,Null,Null,Null,Null,Null,Null
4,Data Analyst,Null,Contract,MEDA,Nigeria,Bauchi,Null,Null,Null,Null,Null,Null,Null
5,Data Analyst – Nigeria IHP –Jega,Null,Null,"Palladium Group, Inc.",Nigeria,Nigeria,Null,Null,Null,Null,Null,Null,Null
6,Remote Bilingual Implementation Analyst.,"₦228,470 a month",Full-time,VIDCRUITER,Nigeria,Ibadan+7 locations,Null,Null,Null,Null,Null,Null,Null
7,Data Analyst Recruitment at Techie Planet Limited,Null,Contract,Techie Planet Limited,Nigeria,Lagos,Null,Null,Null,Null,Null,Null,Null
8,MICROBIOLOGIST/QC ANALYST,Null,Null,Evans Industries,Nigeria,Ikeja,Null,Null,Null,Null,Null,Null,Null
9,Operations Analyst,Null,Full-time,Sabi,Nigeria,Lagos,Null,Null,Null,Null,Null,Null,Null